.libraryBody {
  width: 94%;
  height: 100%;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: space-between;
}

.playlistCard {
  position: relative;
  width: 15%;
  height: 40vh;
  border-radius: 20px;
  background-color: rgb(30, 42, 62);
  border: 1px solid rgba(54, 69, 98, 0.18);
  margin-bottom: 2%;
  padding: 1%;
  background: linear-gradient(75deg, rgb(40, 58, 88) 0%, rgba(54, 69, 98, 1) 100%);
  transition: all 0.2s ease;
  cursor: pointer;
}


.playlistCard:hover {
  transform: scale(1.02);
}

.playlistCard:hover .playlistFade {
  opacity: 1;
}

.playlistImage {
  width: 100%;
  border-radius: 15px;
  aspect-ratio: 1;
}

.playlistName {
  font-weight: 800;
  font-size: 16px;
  color: #c4d0e3;
  margin: 10px 0px 10px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.playlistCount {
  font-weight: 400;
  font-size: 12px;
  margin: 0px;
  color: #c4d0e3;
}

.playlistFade {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  height: 34%;
  width: 84%;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(54, 69, 98, 0) 10%, rgba(54, 69, 98, 1) 100%);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0.7rem;
  transition: 0, 5s ease;
}