.container {
  display: flex;
  /* flex-direction: row; */
  height: 100%;
}

.leftPlayerBody {
  width: 70%;
  margin-right: 2%;
  height: 100%;
}

.rightPlayerBody {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}