.controlsWrapper {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0px;
  justify-content: space-between;
}

.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}


.actionButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
}


.playPauseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 30px;
  background-color: #C96850;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: inset -4px -4px 10px #55291e, inset 4px 4px 10px 1px #ffae9a;

}

.playPauseButton.active {
  box-shadow: inset -4px -4px 10px #ff8769, inset 4px 4px 10px 1px #753d30;
}

.playPauseButton:hover {
  transform: scale(1.1);
}