.container {
  width: 100%;
  height: 42%;
  border-radius: 30px;
  border-top-right-radius: 0px;
  background-color: #3e61D2;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0,
      transparent 0,
      #3e61D2 40px),
    repeating-linear-gradient(#4767d055, #4767d0);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.queue {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

.upNext {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: left;
  margin: 10px 0;

}

.queueList {
  height: 80%;
  width: 100%;
  overflow-y: auto;
}

.queueList::-webkit-scrollbar {
  display: none;
}

.queueItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4px 0px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
}

.queueItem :hover {
  transform: scale(0.9);
}

.trackName {
  width: 75%;
  text-overflow: ellipsis;
}