.entryBody {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10%;
}

.entryImage {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  margin-right: 10px;
}

.entryRightBody {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.entryTitle {
  font-size: 10px;
  font-weight: 500;
  color: #C9D0E3;
  margin: 0px 0px 5px;
}


.entrySubtitle {
  font-size: 8px;
  font-weight: 400;
  color: #c4d0e37c;
}