.container {
  /* height: 100%; */
  /* width: 100vw; */
  background-color: #E99D72;
  display: flex;
  flex-direction: row;

}

.mainBody {
  /* height: 100vh;
  width: 100vw; */
  background-color: #E99D72;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
}

.sidebar {
  height: 100vh;
  width: 100px;
}

.screenContainer {
  width: calc(100% - 100px);
  /* height: 100%; */
  background-color: #1E2A3E;
  border-radius: 30px;
  background-color: #1E2A3F;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at center left, transparent 0, #1E2A3F 100px), repeating-linear-gradient(#23365655, #233656);
}